<div class="container mt-5">
  @if(accountService.currentUser()){
  <div class="text-center">
    <h1 class="display-3 fw-bold mb-3">👋 Welcome to ChatZone</h1>
    <p class="lead text-muted mb-4">
      Where conversations come alive. Meet new people, share your thoughts, and
      stay connected — all in one place.
    </p>

    <div class="d-flex justify-content-center gap-3 flex-wrap">
      <button
        class="btn btn-primary btn-lg px-5 shadow"
        [routerLink]="'/members'"
      >
        🚀 Start Chatting
      </button>
      <button class="btn btn-outline-info btn-lg px-5">📖 Learn More</button>
    </div>
  </div>
  }@else {
  <div class="text-center">
    <h1 class="display-4 mb-3">Start Chatting Now</h1>
    <p class="lead text-muted mb-4">
      Join the conversation and connect with others instantly. Just sign up to
      begin chatting!
    </p>
    <div class="d-flex justify-content-center gap-3">
      <button [routerLink]="'/register'" class="btn btn-primary btn-lg px-4">
        Register
      </button>
      <button class="btn btn-outline-info btn-lg px-4">Learn more</button>
    </div>
  </div>
  }
</div>
