.active {
  color: rgb(255, 255, 255) !important;
}
.dash-board:hover {
  color: #cfcfcf;
}
.text-gray {
  color: #909090;
}
img {
  max-height: 50px;
  border: 2px solid white;
  object-fit: cover;
}
.flexing {
  display: flex !important;
  gap: 10px;
}
